<template>
<div id="app" class="app_">

	<div class="timePic">

		<div>



		</div>

	</div>

	<div class="app_center">

		<div class="btn_1 ">
			<div>управление график 1</div>
			<div>
				<input class="checkbox1" id="1_1" value="Et" type="radio" v-model="E_SPE" v-on:click="load_radioE_SPE('Et')">
				<label for="1_1"><span>energy_time</span></label><br>

			</div>
		</div>


		<div :id="'1'+n.numer"
		v-bind:key = "'1'+n.numer"
		v-for="n in this.data_json">

			<div class="float1Blok">
				<!-- <div>график 1</div> -->
				<div class="float1Blok">
					<div>среднее /график 1 /перегон {{n.numer}}</div>
					<div class="grafik1" :id="'chartdiv1_1_'+n.numer" :ref="'chartdiv1_1_'+ n.numer"></div>
				</div>
				<div class="float1Blok">
					<div>часпик /график1 /перегон {{n.numer}}</div>
					<div class="grafik1" :id="'chartdiv1_2_'+n.numer" :ref="'chartdiv1_2_'+ n.numer"></div>
				</div>
				<div class="float1Blok">
					<div>не часпик /график 1 /перегон {{n.numer}}</div>
					<div class="grafik1" :id="'chartdiv1_3_' + n.numer" :ref="'chartdiv1_3_'+ n.numer"></div>
				</div>
			</div>

		</div>




		<div class="btn_2 ">
			<div>управление график 2</div>
			<div>
				<input class="checkbox2" id="2_1" value="S" type="radio" v-model="ST" v-on:click="load_radioST_IV('S')">
				<label for="2_1"><span>slength</span></label><br>
				<input class="checkbox2" id="2_2" value="T" type="radio" v-model="ST" v-on:click="load_radioST_IV('T')" >
				<label for="2_2"><span>ttime</span>	</label><br>


			</div>
		</div>




		<div :id="'2'+n.numer"
		v-bind:key = "'2'+n.numer"
		v-for="n in this.data_json">

			<div class="float2Blok">
				<!-- <div>график 2</div> -->
				<div class="float2Blok">
					<div>среднее /график 2 /перегон {{n.numer}}</div>
					<div class="grafik2" :id="'chartdiv2_1_'+n.numer" :ref="'chartdiv2_1_'+ n.numer"></div>
				</div>
				<div class="float2Blok">
					<div>часпик /график 2 /перегон {{n.numer}}</div>
					<div class="grafik2" :id="'chartdiv2_2_'+n.numer" :ref="'chartdiv2_2_'+ n.numer"></div>
				</div>
				<div class="float2Blok">
					<div>не часпик /график 2 /перегон {{n.numer}}</div>
					<div class="grafik2" :id="'chartdiv2_3_' + n.numer" :ref="'chartdiv2_3_'+ n.numer"></div>
				</div>
			</div>

		</div>

	</div>




</div>
</template>

<script>


	import * as am4core from "@amcharts/amcharts4/core";
	import * as am4charts from "@amcharts/amcharts4/charts";
	import am4themes_animated from "@amcharts/amcharts4/themes/animated";

	 export default{
		data(){
			return {

				openGrafik : false,

				NUmArrObjJson : 0, // для выпадающего списка номер
				NUmArrObjJsonTip : 'тип', // для выпадающего списка тип
				idNumObjJsonTip : [
					{id:'q' ,idNam : 'среднее'},
					{id:'qmax' ,idNam : 'часпик'},
					{id:'qmin' ,idNam : 'не часпик'},
				],
				open1 : false,
				open2 : false,


				data_json : null, // закидываем 	весь json
				data_jsonLength : null, // весь json длина
				NumJsonSelected : 0,	// выбираем какой из списка
				data_jsonSelected : null,	// данные выбранного

				forGrafik1 : null,		// обработанные данные запись для графика
				forGrafik2 : null,

				Et : true, E_SPE :'Et', // первый график
				E : true, SPE : true,

				S : true, T : false,	ST :'S', // переключалка между, второй график
				I : true,	V : true,


			}
		},
		components: {
		},

		created: function () {

		},

		mounted: function () {


			this.get_data_json();

		},

		computed : {},

		methods: {



			buttonOtpr:  function (event) {
			// собираем данные которые отправим
				console.log("кнопка");
			},

			load_radioE_SPE:  function (event) {
			// переключалка свойств для первого графика

				if (event == 'E') { this.E = !this.E;
				} else if (event == 'SPE')  { this.SPE = !this.SPE ;}

				this.get_data_json();
			},


			load_radioST_IV:  function (event) {
			// переключалка свойств для второго графика
				//console.log(event);

				if (event == 'T') { this.S = false ;this.T =true;
				} else if (event == 'S')  { this.S = true ;this.T = false ;}

				if (event == 'I') {
					this.I = !this.I;
					//this.$refs.chartdiv
				} else if (event == 'V')  {
					this.V = !this.V ;

				}

				this.get_data_json();
			},



			rou: function (nam,n) {
			// для выпадающего списка, выбираем какой список открывать
				switch (n) {
					case 1:
						//console.log(n,nam);
						this.NUmArrObjJson = nam ;
						this.NumJsonSelected = nam ;
						this.open1 = !this.open1 ;

						this.get_data_json();


					break;
					case 2:
						//console.log(n,nam);

						var myTip = this.idNumObjJsonTip.find(el => el.id === nam); // поиск по объектам
						nam = myTip.idNam ;

						this.NUmArrObjJsonTip = nam ;
						this.open2 = !this.open2 ;

						this.get_data_json();

					break;

					default:
					//alert('нет-нет, выполнится вариант выше')
				}
			},


			get_data_json: function () {
			// подключаем файл с данными

				//console.log(this.E_SPE,'Et=',this.Et,'E=',this.E,'SPE=',this.SPE);// смотрим какие переключалки выделены
				//console.log(this.ST,'S=',this.S,'T=',this.T,'I=',this.I,'V=',this.V);// смотрим какие переключалки выделены

				let json = require('./json_with_data.json');
				let create_calcus_results = json.data.create_calcus_results;

				for (var key in create_calcus_results) {
					create_calcus_results[key].numer = key ;
				}

				this.data_json = create_calcus_results ;

				this.data_jsonLength = create_calcus_results.length;
				console.log('получили все данные',this.data_json);


				for(var i=0; i < this.data_json.length  ;i++) {
					// проходим по всем номерам
					// console.log('i',i);
					this.generationDataGraph(i);
				};


			},

			generationDataGraph: function (iN) {
			// генерируем данные для графика 1 и 2
				var list = {};
				var list2 = {};

				//this.data_jsonSelected = this.data_json[this.NumJsonSelected] ;
				this.data_jsonSelected = this.data_json[iN] ;

				//console.log(this.data_jsonSelected);
				var data = this.data_jsonSelected ;

			// первый график начало
				//1
				var n = this.generationData1('q_',data.q_energy_time,data.q_energy,data.q_specific_energy);
				n = this.NoRepeatData1(n);
				list.q_ = n ;
				//2
				var n = this.generationData1('qmax_',data.qmax_energy_time,data.qmax_energy,data.qmax_specific_energy);
				n = this.NoRepeatData1(n);
				list.qmax_ = n ;
				//3
				var n = this.generationData1('qmin_',data.qmin_energy_time,data.qmin_energy,data.qmin_specific_energy);
				n = this.NoRepeatData1(n);
				list.qmin_ = n ;

				//this.forGrafik1 = list;
				// console.log('первый график',list);
				//if (this.NUmArrObjJsonTip != 'тип') {
				//	this.TypeLoading(list,'1');
				//} else {console.log('невыбран тип');}

				this.grafik_blok(list,'1',iN);

			// первый график конец

			// второй график начало
				//1
				var n2 = this.generationData2('q_',data.q_ttime,data.q_icurrent,data.q_slength,data.q_speeds);
				list2.q_ = n2 ;
				//2
				var n2 = this.generationData2('qmax_',data.qmax_ttime,data.qmax_icurrent,data.qmax_slength,data.qmax_speeds);
				list2.qmax_ = n2 ;
				//3
				var n2 = this.generationData2('qmin_',data.qmin_ttime,data.qmin_icurrent,data.qmin_slength,data.qmin_speeds);
				list2.qmin_ = n2 ;

				//this.forGrafik2 = list2;
				// console.log('второй график',list2);
				//this.TypeLoading(list2,'2');

				this.grafik_blok(list2,'2',iN);

			// второй график конец


			},

			generationData1: function (name,partdata1,partdata2,partdata3) {
			// объединяем пункты в один по определенному критерию , по одной оси группировка
				//console.log(name,partdata1,partdata2,partdata3);
				var groupObj = {} ;
				var groupArr = [] ;
				for (var i = 0; i < partdata1.length; i++) {
					//console.log(partdata1[i]);
					var groupObj ={
						"energy_time": partdata1[i],
						"energy": partdata2[i],
						"specific_energy": partdata3[i]
					};
					groupArr.push(groupObj);
				}
				//console.log(groupArr);

				return groupArr;
			},


			NoRepeatData1: function (ArrNoRep) {
			// группируем повторения выбираем минимальное значение

				var saveGroupArrNoRepeat = [] ;
				//var groupArrNoRepeat = [] ;
				var obj = {};
				for (var i = 0; i < ArrNoRep.length; i++) {
				   if (obj[ArrNoRep[i].energy_time] === undefined) {
					obj[ArrNoRep[i].energy_time] = [];
				   };
				   obj[ArrNoRep[i].energy_time].push(parseInt(i));

				}
				//groupArrNoRepeat.push(obj);
				//console.log(groupArrNoRepeat);
				//console.log(obj);
				for (let i in obj){
					let save = (ArrNoRep[obj[i][0]]);
					for (let j = 0; j < obj[i].length; j++){
						let v = ArrNoRep[obj[i][j]];
						for (let vIndex in v) {
							if (v[vIndex] < save[vIndex]) {
							save[vIndex] = v[vIndex];}
						}
					}
					//console.log(i, save);
					saveGroupArrNoRepeat.push(save);
				}
				//console.log(saveGroupArrNoRepeat);

				return saveGroupArrNoRepeat ;

			},


			generationData2: function (name,partdata1,partdata2,partdata3,partdata4) {
			// объединяем пункты в один по определенному критерию , по одной оси группировка
				//console.log(name,partdata1,partdata2,partdata3,partdata4);
				var groupObj2 = {} ;
				var groupArr2 = [] ;
				for (var i = 0; i < partdata1.length; i++) {
					//console.log(partdata1[i]);
					var groupObj2 ={
						"ttime": partdata1[i],
						"icurrent": partdata2[i],
						"slength": partdata3[i].toFixed(2),
						"speeds": partdata4[i]
					};
					groupArr2.push(groupObj2);
				}
				//console.log(groupArr2);
				return groupArr2;

			},

			TypeLoading: function (filterlist,NumChartdiv) {
				// выбор типа :среднее, часпик , не часпик

				var idTip = this.idNumObjJsonTip.find(el => el.idNam === this.NUmArrObjJsonTip); // поиск по объектам
			    var id = idTip.id ;
				var tipGraf = filterlist[id+'_'];

				//console.log('данные подготовленные для типа',NumChartdiv,tipGraf);

				this.grafik_blok(tipGraf,NumChartdiv); // отрисовываем график

			},



			grafik_blok: function (tipGraf,NumChartdiv,iN) {
			// начало ,основа постройки графика куда прикрепляем

				let chart1_1,chart1_2,chart1_3;
				let chart2_1,chart2_2,chart2_3;
				let self = this;

				// console.log('refs',this.$refs);

				this.$nextTick(() => {
					// console.log(self.$refs['chartdiv1_1_'+iN][0]);
					switch(NumChartdiv) {
						case "1":

							chart1_1 = am4core.create(self.$refs['chartdiv1_1_'+iN][0], am4charts.XYChart);
							var data1_1 = tipGraf.q_;
							this.Grafik(chart1_1,data1_1,'1');

							chart1_2 = am4core.create(self.$refs['chartdiv1_2_'+iN][0], am4charts.XYChart);
							var data1_2 = tipGraf.qmax_;
							this.Grafik(chart1_2,data1_2,'1');

							chart1_3 = am4core.create(self.$refs['chartdiv1_3_'+iN][0], am4charts.XYChart);
							var data1_3 = tipGraf.qmin_;
							this.Grafik(chart1_3,data1_3,'1');

						break;
						case "2":

							chart2_1 = am4core.create(self.$refs['chartdiv2_1_'+iN][0], am4charts.XYChart);
							var data2_1 = tipGraf.q_;
							this.Grafik(chart2_1,data2_1,'2');

							chart2_2 = am4core.create(self.$refs['chartdiv2_2_'+iN][0], am4charts.XYChart);
							var data2_2 = tipGraf.qmax_;
							this.Grafik(chart2_2,data2_2,'2');

							chart2_3 = am4core.create(self.$refs['chartdiv2_3_'+iN][0], am4charts.XYChart);
							var data2_3 = tipGraf.qmin_;
							this.Grafik(chart2_3,data2_3,'2');

						break;
						default:

						break;
					}

				});


			},

			Grafik : function (chart,data,NumChartdiv) {
			//  постройка графика

				//console.log('график');
				//this.$refs.chartdiv.innerHTML ='***';

				chart.data = data;

				/* Create axes */
				var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
				var categoryT;
				switch(NumChartdiv) {
					case "1":
						 if (this.Et == true) { 
							categoryT = "energy_time";
							var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());
							valueAxisX.title.text = 'время (сек)';	
						 
						 };
						 
					break;
					case "2":
						 if (this.S == true) {
							categoryT = "slength";
							var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());
							valueAxisX.title.text = 'дистанция (м)';	
						 };
						 if (this.T == true) { 
							categoryT = "ttime";
							var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());
							valueAxisX.title.text = 'время (сек)';	
						 };
					break;
					default:

					break;
				}
				categoryAxis.dataFields.category = categoryT;

				
				
				categoryAxis.renderer.labels.template.rotation = 45;
				categoryAxis.renderer.labels.template.verticalCenter = "middle"; //top/middle/bottom
				//categoryAxis.renderer.labels.template.horizontalCenter = "top";
				categoryAxis.renderer.minGridDistance = 20;

				//categoryAxis.renderer.labels.template.wrap = true;
				//categoryAxis.renderer.labels.template.truncate = false;
				categoryAxis.renderer.grid.template.location = 0;
				categoryAxis.renderer.labels.template.maxWidth = 120; // длина подписи
				categoryAxis.renderer.labels.template.fontSize = 11;	// размер подписи
				categoryAxis.renderer.labels.template.textAlign = "top"; // по центру

				/* Create value axis */
				var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
					//valueAxis.title.text = 'текст по оси';
					
				//var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());valueAxisX.title.text = 'X Axis';	
				
				var valueAxis2 = chart.yAxes.push(new am4charts.ValueAxis());
					//valueAxis2.title.text = "текст по оси";
					valueAxis2.renderer.opposite = true;
					valueAxis2.renderer.grid.template.disabled = true;

				// Add cursor
				chart.cursor = new am4charts.XYCursor();

				// Add legend
				chart.legend = new am4charts.Legend();
				chart.legend.position = "bottom";
				chart.legend.valign = "bottom";
				chart.legend.labels.template.truncate = false;
				chart.legend.labels.template.wrap = true;
				//chart.legend.width = 400;

				this.GrafikSeriesData1(chart,valueAxis,valueAxis2,NumChartdiv,categoryT);


			},


			GrafikSeriesData1 : function (chart,valueAxis,valueAxis2,NumChartdiv,categoryT) {
			// настройка сколько линий у графика

				//1 console.log('Et=',this.Et,'E=',this.E,'SPE=',this.SPE);// смотрим какие переключалки выделены
				//2 console.log('S=',this.S,'T=',this.T,'I=',this.I,'V=',this.V);// смотрим какие переключалки выделены

				/* Create series */

				switch(NumChartdiv) {
					case "1":
						if (this.E == true) {
							var seriesName2 = "energy" ;//"";
							var dataFieldsValueY = "energy"; //
							var dataFieldsCategoryX = categoryT;
							var am4coreColor = "#00FFFF";
							//var seriesName = "energy";
							var seriesName = "энергия";
							var seriesStrokeDasharray = 0;//4
							valueAxis.title.text = 'энергия (кВт*ч)';
							this.GrafikSeries(chart,dataFieldsValueY,dataFieldsCategoryX,am4coreColor,seriesName,seriesStrokeDasharray,seriesName2,valueAxis);
						};
						if (this.SPE == true) {
							var seriesName2 = "specific_energy" ;//"";
							var dataFieldsValueY = "specific_energy"; //
							var dataFieldsCategoryX = categoryT;
							var am4coreColor = "#FF7F50";
							//var seriesName = "specific_energy";
							var seriesName = "эквивалентная энергия";
							var seriesStrokeDasharray = 0;//4
							valueAxis2.title.text = "эквивалентная энергия (кВт*ч)";
							this.GrafikSeries(chart,dataFieldsValueY,dataFieldsCategoryX,am4coreColor,seriesName,seriesStrokeDasharray,seriesName2,valueAxis2);
						};


					break;
					case "2":

						if (this.I == true) {
							var seriesName2 = "icurrent" ;//"";
							var dataFieldsValueY = "icurrent"; //
							var dataFieldsCategoryX = categoryT;
							var am4coreColor = "#BA55D3";
							//var seriesName = "icurrent";
							var seriesName = "ток";
							var seriesStrokeDasharray = 0;//4
							valueAxis.title.text = 'ток (А)';
							this.GrafikSeries(chart,dataFieldsValueY,dataFieldsCategoryX,am4coreColor,seriesName,seriesStrokeDasharray,seriesName2,valueAxis);
						};
						if (this.V == true) {
							var seriesName2 = "speeds" ;//"";
							var dataFieldsValueY = "speeds"; //
							var dataFieldsCategoryX = categoryT;
							var am4coreColor = "#20B2AA";
							//var seriesName = "speeds";
							var seriesName = "скорость";
							var seriesStrokeDasharray = 0;//4
							valueAxis2.title.text = "скорость (км/ч)";
							this.GrafikSeries(chart,dataFieldsValueY,dataFieldsCategoryX,am4coreColor,seriesName,seriesStrokeDasharray,seriesName2,valueAxis2);
						};

					break;
					default:

					break;
				}


			},


			GrafikSeries : function (chart,dataFieldsValueY,dataFieldsCategoryX,am4coreColor,seriesName,seriesStrokeDasharray,seriesName2,valueAxis) {
				// настройка графика , сама отрисовка

				let series = chart.series.push(new am4charts.LineSeries());
					series.dataFields.categoryX = dataFieldsCategoryX;//
					series.dataFields.valueY = dataFieldsValueY;
					series.strokeDasharray = seriesStrokeDasharray;
					series.stroke = am4core.color(am4coreColor); // цвет линий

					//seriesName = seriesName;

					// подпись при наведении на графике
					//series.tooltipText = ""+seriesName + " " + seriesName2 + ": [bold]{valueY}[/]";
					series.tooltipText = ""+seriesName + " : [bold]{valueY}[/]";
					series.tooltip.getFillFromObject = false;
					series.tooltip.background.fill = am4core.color(am4coreColor);
					series.tooltip.label.fill = am4core.color("#FFFFFF");
					series.tooltip.stroke = am4core.color("#FFFFFF");

				
				//var name = seriesName +" "+ seriesName2;
				var name = seriesName ;
					series.legendSettings.labelText = name;
				let circleBullet = series.bullets.push(new am4charts.CircleBullet());
					circleBullet.circle.stroke = am4core.color(am4coreColor); // цвет обводки
					circleBullet.circle.fill = am4core.color(am4coreColor); // цвет внутри круга
					circleBullet.circle.radius = 3;

					series.yAxis = valueAxis;


			},


		}


	 }
</script>

<style>
	@import './calcus.css';
</style>
