body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: sans-serif;
}
.indent{
	padding: 0px 0px 17px 0px;
}
.grafic-send-btn{
	position: absolute;
	padding: 5px 10px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #cacaca;
    color: #ffffff;
	margin-top:315px;
}
.grafic-send-btn:hover{
	background-color: #2980B9;
}
.timePic{
	position: absolute;
	/*background: #BFE6FF;
	position: fixed;*/
	width: 160px;
	margin-top: 20px;
	height: 260px;
}

.btn_1{
	position: absolute;
	/*position: fixed;*/
	width: 166px;
	height: 80px;
	/*margin-top: 378px;*/
	background-color: #1F818D;
	border-radius: 5px;
	/*box-shadow: 0px 0px 16px 7px #808080;*/
	box-shadow: 0px 0px 0px 0px #808080;
	
	margin-left: -170px;	
	top: 216px;
	/*margin: 0px 0px 20px;*/
}
.btn_2{
	position: absolute;
	/*position: fixed;*/
	width: 166px;
	height: 100px;
	/*margin-top: 378px;*/
	background-color: #1F818D;
	border-radius: 5px;
	/*box-shadow: 0px 0px 16px 7px #808080;*/
	box-shadow: 0px 0px 0px 0px #808080;
	
	margin-left: -170px;
	top: 300px;
	/*margin: 0px 0px 20px;	*/
}
/*чекбоксы*/
/**/


/*выпадающий список*/
.spisokRout1:hover,
.spisokRout2:hover{
	background-color: #017DC4;
	color: #fff;
	cursor: pointer;
}
.activeRout1,
.activeRout2{	
	background-color: #017DC4;
	color: #fff;	
}


.spisok_spisok1,
.spisok_spisok2{	
	/*display:none;*/
	/*opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s, visibility 0s linear 0.6s;
	height:0px;*/
	display:inline;	
	position: relative;
	opacity: 0;
	visibility: hidden;
	top: -7px;
	transition: all .2s ease;
}

.active{	
	display:inline;
	/*opacity: 1;
	visibility: visible;
	transition-delay: 0s;
	height:auto;*/
	position: relative;
	opacity: 1;
	visibility: visible;
	top: 0;
	transition: all .4s ease;
}

.spisok_spisok1_In,
.spisok_spisok2_In{	
	height: 0px;
	background: #fff;
	overflow: auto;	
	width: 157px;
	border: 1px solid #05353e;
	border-top: none;
	word-break:break-all;
}
.active_In{
	height: 72px;
}

.spisok_name1,
.spisok_name2{
	/*height: 27px;*/
	min-height: 27px;
	/*background-color: #00bcd4;*/
	background-color: #1f818d;
	cursor: pointer;
	width: 135px;
	
	color: #fff;
	display: flex;
	align-items: center;
	padding: 2px 20px 3px 4px;
	word-break:break-all;
}
.spisok_name_active{
	border: 1px solid #05353e;
}
.arrow {
	position: absolute;
	/*top: 8px;*/
	/*left: 94px;*/           
	border: solid #fff;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 4px;
	transform: rotate(45deg);
	/*-webkit-transform: rotate(45deg);*/
	/*right: 10px;*/
	margin-top: 0px;
	left: 140px;
}
.arrow_active {
	transform: rotate(225deg);
}

/*/////////////////////*/




.app_center{
	left: 170px;
	position: absolute;
}
.app_{
	position: absolute;
	left: 10px;
	margin-top: 42px;
	right: 10px;
	background : yellow;
	-ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}
.grafik1,
.grafik2{
	/*position: absolute;*/
	/*float: left;*/
	
	width: 450px;
	height : 340px;
	border: 1px solid #1F818D;
	
	/*box-shadow: 16px 11px 22px 4px #808080;*/
	box-shadow: 11px -10px 17px -8px #808080;
}
.grafik2{	
	/*left: 570px;*/
}
.float1Blok,
.float2Blok{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}


@media print {
    
}